{{extend 'layout.html'}}

<div class="container max900">
  <div class="fill">
    <div class="padded spaced">
         <div class="half compressible">{content}</div>
    </div>
  </div>
  <div>
        <div class="third">
        {content}
        <table class="center fill">
          <thead>
            <tr><td></td><th>Bla</th><th>Bla</th><th>Bla</th></tr>
          </thead>
          <tbody>
            <tr><th>Bla</th><td>Bla</td><td>Bla</td><td>Bla</td></tr>
            <tr><th>Bla</th><td>Bla</td><td>Bla</td><td>Bla</td></tr>
            <tr><th>Bla</th><td>Bla</td><td>Bla</td><td>Bla</td></tr>
          </tbody>
        </table>    
  </div>
  <div class="fill">
    <div class="padded spaced">
         {{=a}}
    </div>
  </div>
</div>
