{{extend 'layout.html'}}
<link href="{{=URL('static','css/stupid.css')}}" rel="stylesheet" type="text/css"/>
<h4>Hello {{=name}}</h4>
<body>
    <div>
         <div class="half compressible"><tbody>
            <tr><th>Bla</th><td>Bla</td><td>Bla</td><td>Bla</td></tr>
            <tr><th>Bla</th><td>Bla</td><td>Bla</td><td>Bla</td></tr>
            <tr><th>Bla</th><td>Bla</td><td>Bla</td><td>Bla</td></tr>
            <tr><th>Bla</th><td>Bla</td><td>Bla</td><td>Bla</td></tr>
            <tr><th>Bla</th><td>Bla</td><td>Bla</td><td>Bla</td></tr>
            <tr><th>Bla</th><td>Bla</td><td>Bla</td><td>Bla</td></tr>
          </tbody></div>
    </div>
    <div class="third">
        <table class="center fill">
          <thead>
            <h1>
                idk what this is
              </h1>
            <h2>
                aha you got me
              </h2>
            <tr><td></td><th>Bla</th><th>Bla</th><th>Bla</th></tr>
          </thead>
          <tbody>
            <tr><th>Bla</th><td>Bla</td><td>Bla</td><td>Bla</td></tr>
            <tr><th>Bla</th><td>Bla</td><td>Bla</td><td>Bla</td></tr>
            <tr><th>Bla</th><td>Bla</td><td>Bla</td><td>Bla</td></tr>
          </tbody>
        </table>    
    </div>
    <div> 
       <input type="file" />
    </div>
    <div class="threequarters"><div class="padded lifted green"><table>
            <tr><th>Bla</th><td>Bla</td><td>Bla</td><td>Bla</td></tr><tr><th>Bla</th><td>Bla</td><td>Bla</td><td>Bla</td></tr><tr><th>Bla</th><td>Bla</td><td>Bla</td><td>Bla</td></tr><tr><th>Bla</th><td>Bla</td><td>Bla</td><td>Bla</td></tr>
            
          </table></div>
    </div>
    <div>
        {{=a}}
    </div>
    <div>
        {{=form1}}
    </div>
    
</body>
